<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../../../favicon.ico" />

    <title>REGISTRAR LOGIN</title>

    <!-- Bootstrap core CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet"/>
  </head>

  <body class="bg-light">

	
		<div sec:authorize="hasRole('ROLE_CLIENTE')">
		<div th:replace="fragments/header.html :: navegacionCliente" />
	</div>
	<div sec:authorize="hasRole('ROLE_TRAMITADOR')">
		<div th:replace="fragments/header.html :: navegacionTramitador" />
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<div th:replace="fragments/header.html :: navegacionAdmin" />
	</div>
	<br />
	
	

    <div class="container">
      <div class="py-0 text-center">
       
        <h2>Nuevo Grupo</h2>
       
      </div>
      
      	
     <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
      	
      	
      	

      <div  th:replace="fragments/footer.html :: footer">
 	      
       </div>
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>

  </body>
</html>
